* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  background: #1e1e1e;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#helpBtn {
  background: #00ff88;
  color: #000;
  border: none;
  font-size: 18px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

.input-area {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addTaskBtn {
  background: #00ff88;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  background: #2a2a2a;
  border-radius: 4px;
}

.task-text {
  cursor: pointer;
}

/* TAREFA CONCLUÍDA */
.completed {
  color: #00ff88;
  text-decoration: line-through;
  opacity: 0.6;
}

/* BOTÃO EXCLUIR */
.delete-btn {
  background: #ff4d4d;
  color: white;
  margin-left: 15px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background: #1e1e1e;
  color: white;
  width: 90%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

#closeModal {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 22px;
  cursor: pointer;
}

.green {
  color: #00ff88;
}
